.nav-main{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid red;
}
.two-erji{
    position: relative;
    width: 232px;
    height: 50px;
    float: left;
}
.two-erji-hidden{
    width: 232px;
    height: 50px;
    overflow: hidden;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}
.two-erji-show{
    width: 232px;
    height: 50px;
    line-height: 50px;
    background-color: red;
    text-align: center;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
}

.two-erji .two-erji-play{
    height: 500px;
}
.two-erji-hidden:hover{
    height: 500px;
}
.two-ulList{
    width: 232px;
    height: 500px;
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 999;
    opacity: 0.8;
}

.two-ulList li {
    width: 100%;
    padding: 15px 10px 0;
    flex: auto;

}

.two-ulList li::before {
    content: url(../images/xue-image/02-list.png);
    float: left;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
}

.two-ulListH {
    background-color: black;
}

.two-ulList p a {
    color: #fff;
}

.two-ulList span a {
    color: rgb(173, 173, 173);
}

.two-olList {
    position: absolute;
    top: 50px;
    left: 232px;
    width: 968px;
    min-height: 500px;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    display: none;
    z-index: 3;
}

.two-olList-left {
    width: 700px;
    float: left;
}

.two-olList-left span {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(95, 79, 79);
    color: #fff;
}

.two-olList-left p {
    display: inline-block;
}

.two-olList-leftUp {
    padding-bottom: 20px;
}

.two-olList-leftDown {
    padding: 20px;
    padding-top: 0;
}

.two-olList-leftDown>a {
    color: black;
    display: inline-block;
    width: 60px;
}

.two-olList-leftDown p {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}

.two-olList-leftDown p>a {
    padding: 0 10px;
    border-left: 1px solid #ccc;
}

.two-olList-right {
    float: left;
    width: 228px;
    height: 500px;
}

.two-olList-right li {
    float: left;
    border: 1px solid rgb(241, 241, 241);
    text-align: center;
}

.two-olList-right img {
    width: 110px;
}
.page-change{
    width: 800px;
    height: 50px;
    float: left;
}
.page-change ul{
    width: 1000px;
    height: 50px;
}
.page-change li{
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
    margin-left: 40px;
}
.page-change li a{
    font-size: 16px;
    width: 100%;
    height: 100%;
}
/* ------------------------------------ */
.hot-sales{
    width: 100%;
}
.hot-sales-lay{
    background-color: #f5f5f5;
    margin: 10px auto;
}
.hot-sales-font{
    font-size: 16px;
    color: #fff;
    background: #f42424;
    float: left;
    padding: 27px 12px;
    width: 16px;
    height: 96px;
    overflow: hidden;
}
.hot-sales-shops{
    float: left;
    position: relative;
    height: 110px;
    overflow: hidden;
    padding: 20px;
}
.hot-sales-shops li{
    width: 310px;
    height: 110px;
    border: 1px solid #fff;
    float: left;
    background: #fff;
    margin-right: 15px;
}
.hot-sales-shops li:hover{
    border: 1px solid red;
}
.hot-sales-shops .items{
    padding: 10px;
}
.hot-sales-shops .shop-img{
    width: 90px;
    height: 90px;
    float: left;    
    margin-right: 12px;
}
.hot-sales-shops .shop-img a{
    color: #555;
}
.hot-sales-shops .shop-img img{
    width: 100%;
    height: 100%;
}
.hot-sales-shops .shop-message{
    width: 160px;
    float: left;
}
.hot-sales-shops .shop-message p{
    width: 100%;
    height: 35px;
    overflow: hidden;
}
.hot-sales-shops .shop-message .price{
    float: left;
    color: #f42424;
    padding-top: 6px;
    width: 120px;
    font-size: 14px;
    font-weight: bold;
}
.btn{
    padding: 0 10px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #f42424;
    display: inline-block;
    color: #f42424;
    background-color: #fff;
    margin-right: 5px;
    font-size: 12px;
    cursor: pointer;
}
.hot-sales-shops .shop-btn{
    background: #f42424;
    border-color: #f42424;
    color: #fff;
}
.hot-sales-shops .shop-btn{
    height: 22px;
    border: 0;
    margin-top: 6px;
    float: left;
}
.crumbs-nav {
    height: 25px;
    line-height: 25px;
    padding: 12px 0;
}
.crumbs-nav {
    height: 25px;
    line-height: 25px;
    padding: 12px 0;
}
.crumbs-nav-item {
    float: left;
    margin-right: 7px;
    position: relative;
}
.crumbs-nav-item .menu-drop {
    float: left;
    margin-right: 7px;
    background-color: #fff;
}
.menu-drop .trigger {
    display: inline-block;
    padding: 0 10px;
    height: 23px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
    position: relative;
}
.box-border-show{
    border: 1px solid #f00 !important;
}
.crumbs-nav-item a span {
    color: #555;
}
.crumbs-nav span {
    color: #8c8c8c;
    float: left;
}
.menu-drop .icon-down {
    font-size: 18px;
    margin-left: 2px;
}
.menu-drop .icon-down:before{
    line-height: 28px;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
}
.icon-down:before {
    content: "\e60a";
}
.menu-drop-main {
    display: none;
    width: 219px;
    padding: 6px 0 4px 10px;
    position: absolute;
    left: 0;
    top: 24px;
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 10;
}
.menu-drop .menu-drop-main-show {
    display: block !important;
    border: 1px solid #f00 !important;
}
.menu-drop-main li {
    float: left;
    width: 68px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 5px 2px 0;
}
.clearfix:after, .clearfix:before {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.crumbs-nav .menu-drop .trigger b{
    width: 100%;
    height: 1px;
    position: absolute;
    top: 23px;
    left: 0;
    background-color: #fff;
    display: none;
    z-index: 999;
}
.container{
    width: 100%;
    height: 2000px;
}
.container .select{
    width: 1368px;
    height: 56px;
    padding: 10px;
    border: 1px dashed #ddd;
    background-color: #fff;
    margin-bottom: 15px;
}
.container .brand{
    width: 30px;
    height: 56px;
    float: left;
}
.container .logo{
    width: 1200px;
    height: 56px;
    float: left;
    margin-left: 50px;
}
.container .logo .logo-items{
    float: left;
    width: 118px;
    height: 58px;
    border: 1px solid #ddd;
    margin: -1px -1px 0 0;
    background-color: #fff;
    position: relative;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}
.container .logo-items a{
    display: block;
    width: 116px;
    height: 56px;
    line-height: 56px;
    zoom: 1;
    overflow: hidden;
}
.container .logo-items img{
    width: 118px;
    height: 56px;
}
.container .logo-items span{
    height: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: block;
    position: absolute;
    top: 58px;
    left: 0;
    background-color: #fff;
}
.container .select-extent{
    width: 88px;
    height: 30px;
    float: right;
}
.container .select-extent a{
    border: 1px solid #ddd;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: block;
    float: left;
}
.container .select-extent a:nth-child(2){
    width: 60px;
}
.container .select-extent a:hover{
    border-color: red;
}
.container .select-extent a .font-bottom{
    font-size: 16px;
}
.container .select-extent a .icon-up{
    font-size: 16px;
}
.container .select-extent a .font-add{
    font-size: 16px;
}
.filter{
    height: 38px;
    border: 1px solid #d2d2d2;
}
.filter-wrap {
    padding: 7px 0 6px;
    height: 25px;
    line-height: 25px;
}
.filter-wrap .filter-sort {
    float: left;
}
.filter-wrap .filter-sort a:hover, .filter-wrap .filter-sort a.curr {
    color: #f42424;
}
.filter-wrap .filter-sort a {
    float: left;
    display: block;
    padding: 0 20px;
    border-right: 1px solid #d2d2d2;
    color: #222;
}
.filter-wrap .filter-sort a .iconfont {
    font-size: 22px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.filter-wrap .filter-range {
    float: left;
    margin-left: 15px;
}
.filter-wrap .filter-range .fprice {
    float: left;
    padding-right: 15px;
    border-right: 1px solid #d2d2d2;
    position: relative;
}
.filter-wrap .filter-range .fprice .f-text {
    width: 58px;
    height: 23px;
    border: 1px solid #d2d2d2;
    outline: 0;
    padding: 0 5px;
}
.fP-expand, .fP-expand-kword {
    display: none;
    position: absolute;
    z-index: 99;
    border: 1px solid #dcdcdc;
    background: #EFECEB;
    width: 161px;
    left: 0px;
    top: 24px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.fP-expand .ui-btn-s, .fP-expand-kword .ui-btn-s {
    border: 1px solid #ccc;
    height: 18px;
    line-height: 18px;
    color: #333;
    padding: 0 10px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top,#f7f7f7,#f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2', GradientType=0);
}
.fP-expand .ui-btn-s-primary, .fP-expand-kword .ui-btn-s-primary {
    color: #fff;
    border-color: #f42424;
    background-color: #f42424;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top,#f42424,#f55658);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f42424', endColorstr='#f55658', GradientType=0);
    margin-left: 15px;
}
.filter-wrap .filter-range .fcheckbox {
    float: left;
}
.checkbox_items {
    overflow: hidden;
}
.filter-wrap .filter-range .fcheckbox .checkbox_item {
    float: left;
    padding-left: 19px;
}
.ui-checkbox, .ui-radio, .ui-all-checkbox, .ui-solid-checkbox {
    display: none;
}
.ui-label {
    padding-left: 18px;
    background: url(../images/long-images/checkbox_12x12.png) 0 2px no-repeat;
    cursor: pointer;
}
.ui-label-cur{
    background: url(../images/long-images/checkbox_cur_12x12.png) 0 2px no-repeat;
}
.filter-wrap .filter-right {
    float: right;
}
.filter-wrap .filter-right .button-page {
    float: left;
    margin-right: 28px;
}
.filter-wrap .filter-right .pageState {
    float: left;
    color: #8c8c8c;
}
.filter-wrap .filter-right .button-page a {
    display: block;
    float: left;
    width: 18px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #d2d2d2;
    text-align: center;
    margin: 4.5px 0 0 5px;
    cursor: default;
}
.filter-wrap .filter-right .button-page .style a:hover{
    color: #f42424;
}
.filter-wrap .styles {
    float: left;
}
.filter-wrap .styles li {
    float: left;
    padding: 0 8px 0 14px;
    border-left: 1px solid #d2d2d2;
}
.filter-wrap .styles li a {
    color: #f42424;
    font-size: 14px;
    line-height: 26px;
}
.filter-wrap .styles li a {
    color: #8c8c8c;
    display: block;
}
.filter-wrap .styles li.current a {
    color: #f42424;
}
.filter-wrap .styles li.current .iconfont {
    color: #f42424;
}
.filter-wrap .styles li .icon-switch-grid{
    font-size: 23px;
}
.filter-wrap .styles li .icon-switch-list{
    font-size: 17px;
}
.filter-wrap .styles li .iconfont {
    color: #d2d2d2;
    vertical-align: middle;
    margin-right: 2px;
}
.goods{
    width: 1417px;
    margin-top: 20px;
}
.goods-list {
    min-height: 500px;
    float: left;
    width: 1160px;
}
.gl-item{
    border: 1px solid transparent;
    box-sizing: border-box;
}
.goods .goods-list-show{
    border: 1px solid #dcdcdc;
    box-shadow: 1px 0 1px rgb(204, 203, 203),
                   0 1px 1px rgb(204, 203, 203),
                   0 -1px 1px rgb(204, 203, 203),
                    -1px 0 1px rgb(204, 203, 203)
}
.goods-list .gl-item {
    float: left;
    width: 232px;
    height: 470px;
    position: relative;
    z-index: 1;
}
.gl-i-wrap {
    padding: 11px;
    background-color: #fff;
    -webkit-transition: border-color .1s ease;
    -moz-transition: border-color .1s ease;
    transition: border-color .1s ease;
}
.gl-i-wrap .p-img {
    width: 210px;
    height: 210px;
    position: relative;
}
.p-img img {
    width: 100%;
    height: 100%;
}
.gl-i-wrap .sider {
    margin-top: 12px;
    width: 100%;
    overflow: hidden;
}
.gl-i-wrap .sider ul {
    float: left;
}
.gl-i-wrap .sider li {
    float: left;
    border: 1px solid #d2d2d2;
    padding: 1px;
    background: #fff;
    margin-right: 2px;
    cursor: pointer;
}
.gl-i-wrap .sider li:hover {
    border: 1px solid red;
}
.gl-i-wrap .sider li img{
    width: 25px;
    height: 25px;
}
.gl-i-wrap .p-lie {
    overflow: hidden;
    width: 100%;
    line-height: 30px;
    margin-top: 8px;
}
.gl-i-wrap .p-price {
    font-size: 20px;
    float: left;
}
.p-price {
    font-size: 16px;
    color: #f42424;
}
.gl-i-wrap .p-num {
    float: right;
}
.p-num {
    color: #8c8c8c;
}
.p-num em {
    font-weight: bold;
}
.gl-i-wrap .p-name {
    margin-top: 6px;
}
.p-name {
    font-size: 12px;
}
.gl-i-wrap .p-name a {
    height: 38px;
    overflow: hidden;
    display: block;
}
.gl-i-wrap .p-store {
    width: 100%;
    line-height: 24px;
    margin-top: 3px;
    overflow: hidden;
}
.gl-i-wrap .p-store a.store {
    color: #8c8c8c;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}
.gl-i-wrap .p-operate {
    margin-top: 10px;
    overflow: hidden;
    padding: 0 0 10px 1px;
}
.gl-i-wrap .p-operate a {
    display: block;
    float: left;
    width: 53px;
    height: 28px;
    line-height: 28px;
    border: 1px dotted #dbdbdb;
    text-align: center;
        /* margin-left: -1px; */
    position: relative;
    z-index: 2;
}
.gl-i-wrap .p-operate a:hover{
    border-color: red;
}
.p-kefu {
    color: #fcc217;
    margin-left: 5px;
}
.p-kefu.p-c-violet{
    color: #7b75f3;
}
.p-kefu:hover{
    color: #f42424;
}
.p-kefu .iconfont, .p-kefu.p-c-violet .iconfont {
    vertical-align: middle;
    display: inline-block;
    margin-top: -1px;
}
.gl-i-wrap .label_list {
    height: 16px;
    margin-top: 6px;
}
.gl-i-wrap .p-operate a input{
    vertical-align: middle;
    margin-bottom: 2px;
}
.gl-i-wrap .p-operate a{
    vertical-align: middle;
}
.gl-i-wrap .p-operate a .iconfont {
    font-size: 14px;
    margin: 1px 2px 4px 0;
    vertical-align: middle;
    display: inline-block;
}
.gl-i-wrap .p-operate .addcart {
    width: 88px;
    color: #f42424;
}
.gl-i-wrap .p-operate .addcart .iconfont {
    font-size: 19px;
    margin: -1px 3px 2px 0;
}
.goods-spread {
    float: right;
    margin: 11px 27px 0 0;
    width: 221px;
    transition: width .3s ease-out;
    border-bottom: 1px solid #d2d2d2;
}
.goods-spread .g-stop {
    width: 23px;
    height: 23px;
    line-height: 23px;
    border: 1px dotted #d2d2d2;
    background-color: #f8f8f8;
    display: block;
    text-align: center;
    color: #959595;
}
.goods-spread .g-stop .icon-right{
    font-size: 28px;
}
.goods-spread .g-stop .icon-left{
    font-size: 28px;
}
.goods-spread .gs-warp {
    width: 190px;
    padding: 0 15px 10px 15px;
    border: 1px solid #d2d2d2;
    border-bottom: 0;
    margin-top: 8px;
    display: block;
}
.goods-spread .gs-tit {
    color: #8c8c8c;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
}
.goods-spread .gs-list {
    overflow: hidden;
}
.goods-spread .gs-list li {
    margin-bottom: 15px;
}
.opacity_img .p-img {
    transition: opacity .3s ease-out;
}
.p-img img {
    width: 100%;
    height: 100%;
}
.gs-warp .p-name a{
    height: 38px;
    overflow: hidden;
    display: block;
}
.goods-spread-fix {
    position: absolute;
    right: 190px;
    width: 25px;
    height: 25px;
    overflow: hidden;
}
.ssg {
    width: 1200px;
    height: 450px;
    position: relative;
    margin-top: 80px;
    overflow: hidden;
    margin: 0 auto;
}

.ssgtit {
    width: 1390px;
    height: 30px;
    font-size: 20px;
    position: relative;
}

.ssgtitr {
    /* width: 160px; */
    /* height: 30px; */
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
}

.ssgtitr span {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 2px;
    background-color: grey;
}

.ssgtitr .ssgtactive {
    width: 20px;
    border-radius: 20px;
    background-color: red;
}

.ssgn {
    width: 1200px;
    height: 300px;
    position: relative;
}

.ssprev,
.ssnext {
    display: inline-block;
    width: 40px;
    height: 80px;
    background-color: grey;
    color: white;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    display: none;
}

.ssprev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}

.ssnext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}

.ssgnr {
    width: 1200px;
    height: 300px;
    position: relative;
}

.ssgnrlist {
    width: 300%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ssgprice,
.ssgxq {
    text-align: center;
}

.ssgnr .ssgxqactive {
    background-color: red;
    color: white;
}

.ssg li {
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    float: left;
    border: 1px dotted rgb(223, 223, 223);
    padding-top: 20px;
}

.ssg li>div {
    width: 160px;
    height: 260px;
    margin: 0 auto;
}

.ssg img {
    width: 150px;
    height: 150px;
}

.ssgxq {
    width: 100px;
    height: 30px;
    border: 1px solid red;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
}

.ssgprice a {
    font-size: 20px;
    color: red;
}

.ssgxq a {
    color: red;
}

.ssg li>div>div {
    margin-top: 5px;
}