.liu-tiao{
    width: 40px;
    height: 240px;
   position: fixed;
   left: 13%;
   top: 50%;
   transform: translate(-50%,-50%);
}
.liu-tiao .tiao{
    width: 40px;
    height: 50px;
    padding:5px 5px;
    box-sizing: border-box;
    background: #A3A0A1;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: #fff;
    margin-bottom: 2px;
    position: relative;
    transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    -webkit-transition: all .1s
}
.liu-tiao .tiao1{
    width: 40px;
    height: 30px;
}
.colorred{
 background: red;
}
